<body><br>
    <h2 style="color:whitesmoke;">Welcome to Library App</h2>
    <br>
    <br><br><br><br><br><br>
    <!-- <div style="background-color: black;padding-left: 60%;">
        <h4>"A Library is a hospital for the mind"</h4>
    </div> -->
    <br>
    <br><br>
    <div>
        <h5>
            "A Library is a hospital for the mind"<br><br>
            If you don't have an account please create an account right away and enjoy the features !!!
            <br> Nothing is pleasanter than exploring a library :)
        </h5>
    </div>
    <div>
        <br><br><br><br>
    </div>
</body>
